# Linear Regression Example

This is a practice sheet for a Linear Regression algorithm using a simple dataset.
Exercise: In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score
12 yr experience, 10 test score, 10 interview score

In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
hiring = pd.read_csv("hiring.csv")

In [4]:
print(hiring)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

Since the experience is provided in text. We will use word2number package for converting it to number and then use the dataset for regression.

In [21]:
!pip install word2number
!pip install -r requirements.txt

Requirement already satisfied: word2number in c:\users\ehars\documents\anaconda\lib\site-packages (1.1)

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [10]:
pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [2]:
from word2number import w2n

In [11]:
'''
print(w2n.word_to_num("twenty three June,Nineteen hundred Ninety four"))
print(w2n.word_to_num('one hundred thirty-five'))'''

1994
135

In [14]:
print(w2n.word_to_num("twenty three "),"June ",w2n.word_to_num("Nineteen hundred Ninety four ") )

23 June  1994

In [ ]:
'''
hiring.experience = hiring.experience.fillna("zero")
hiring.experience = hiring.experience.apply(w2n.word_to_num)

'''

In [26]:
hiring.experience = [0,0,5,2,7,3,10,11]

In [34]:
import math
median_test_score = math.floor(hiring['test_score(out of 10)'].mean())
median_test_score

7

In [36]:
hiring['test_score(out of 10)'] = hiring['test_score(out of 10)'].fillna(median_test_score)
hiring

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [37]:
reg = linear_model.LinearRegression()
reg.fit(hiring[['experience','test_score(out of 10)','interview_score(out of 10)']],hiring['salary($)'])

LinearRegression()

In [38]:
#Predicting salary1

reg.predict([[2,9,6]])

array([53713.86677124])

In [39]:
#Predicting salary2
reg.predict([[12,10,10]])

array([93747.79628651])

In [40]:
#Intercept
reg.intercept_

14992.65144669314

In [41]:
#Coefficients
reg.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [42]:
# R2 score
reg.score(hiring[['experience','test_score(out of 10)','interview_score(out of 10)']],hiring['salary($)'])

0.9770139014273139